* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  align-items: center;
}

.main-section {
  padding: 30px;  
}
.main-section p {
  font-size: 18px;
  padding-top: 20px;
  font-weight: 500;
}

.dark {
  background: black;
  color: white;
}

.light {
  background: white;
  color: black;
}

.btn {
  padding: 5px 15px;
  width: 150px;
  background: green;
  color: white;
  border-radius: 5px;
  border: none;
}



